@use "../Variables/variables";

.school-container {
  padding: 20px;

  @media (min-width: 990px) {
    margin-left: 300px;
  }
}

.school-content {
  margin-top: 2rem;
  text-align: center;
}

.school-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
