@use "../../Variables/variables";
@use "sass:color";

.user-modal-body {
  .user-profile {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 5px;

    .user-photo-container {
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 1rem;

      .user-photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .user-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .user-main-line {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .user-name {
        margin-bottom: 0;
      }

      .tag-highlight {
        font-size: 0.875rem;
        font-weight: bold;
      }

      .tag-unassigned {
        color: #dc3545 !important;
      }

      .id-assigned {
        color: #28a745 !important;
      }

      .user-role {
        font-size: 0.875rem;
        color: #6c757d;
        margin: 0;
      }
    }
  }

  .tag-assignment-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;

    input.form-control {
      flex: 1 1 0%;
      min-width: 120px;
      max-width: 300px;

      &::placeholder {
        font-size: 0.85rem;
      }
    }

    .tag-action-buttons {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;

      .btn-assign {
        background-color: variables.$tertiary-color;
        color: white;
        border: none;
        padding: 6px 12px;
        border-radius: 4px;
        transition: background-color 0.2s;

        &:hover {
          background-color: color.adjust(
            variables.$primary-color,
            $lightness: -10%
          );
        }
      }

      .btn-delete-tag {
        background-color: variables.$error-bg-color;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 10px;
        border-radius: 4px;

        svg {
          color: white;
        }

        &:hover {
          background-color: color.adjust(
            variables.$error-bg-color,
            $lightness: -10%
          );
        }
      }
    }
  }

  .delete-user-button {
    margin-top: 0.5rem;
  }

  .user-tag-row {
    display: flex;
    align-items: center;
  }
}
