@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #94a9b5;
}

.login-page {
  background-color: #94a9b5; /* Cambia este color al que prefieras */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-logo {
  width: 100px;
  height: auto;
  margin-bottom: 0.2rem;
}

.login-title {
  font-family: "Caveat", cursive;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.user-photo-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1rem;
}

.user-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.container {
  padding: 20px;
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-group {
  margin-bottom: 1.5rem;
}

.alert {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.card {
  width: 12rem;
  margin: 0 0.5rem; /* Adjusted margin to bring cards closer */
  transition: transform 0.2s;
  text-align: center;
  background-color: #7b6983; /* Updated background color */
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  text-decoration: none; /* Remove underline */
  color: #e7e0f3; /* Lighter shade of #7B6983 */
}

.card-body:hover {
  color: #ffffff; /* Slightly darker shade for hover effect */
}

.back-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: #007bff;
}

.back-link:hover {
  text-decoration: underline;
}

.back-link svg {
  margin-right: 5px;
}

h1,
h2 {
  margin-bottom: 20px;
  text-align: center; /* Center the title */
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.list-group-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 0.9rem; /* Reduced font size */
  border-radius: 10px; /* Redondear las esquinas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregar sombra */
  background-color: #ffffff; /* Fondo blanco */
  padding: 10px; /* Añadir padding */
  transition: transform 0.2s; /* Añadir transición para hover */
}

.list-group-item:hover {
  transform: scale(1.02); /* Efecto de hover */
}

.list-group-item img {
  margin-right: 15px;
  border-radius: 50%; /* Redondear la imagen */
}

.text-muted {
  color: #6c757d !important;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Caveat", cursive;
  font-size: 2rem;
}

.navbar-nav {
  margin-left: auto;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; /* Adjust this value to position it above the Home component */
}

.logo-image-home {
  width: 150px;
  height: 150px;
}

.logo-title-home {
  font-size: 3rem;
}

.btn-primary {
  background-color: #a18fbf; /* Lighter shade of #7B6983 */
  border-color: #a18fbf;
  color: white;
}

.btn-primary:hover {
  background-color: #8e7aa6; /* Slightly darker shade for hover effect */
  border-color: #8e7aa6;
}

.btn-secondary {
  background-color: white;
  border-color: white;
  color: #7b6983;
}

.add-user-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px; /* Increased size */
  height: 60px; /* Increased size */
  border-radius: 50%;
  background-color: rgb(123, 105, 131); /* Updated color */
  color: white;
  font-size: 32px; /* Increased font size */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.224);
  transition: transform 0.2s; /* Added transition for hover effect */
  border: none;
}

.add-user-button:hover {
  transform: scale(1.1); /* Added hover effect */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  position: relative;
  margin: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.password-input-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #757575;
}

.floating-label-group {
  position: relative;
  margin-bottom: 2rem;
}

.floating-input {
  width: 100%;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #757575;
  background: transparent;
  font-size: 16px;
  border-radius: 0;
  box-shadow: none;
  appearance: none;
}

.floating-input:focus {
  outline: none !important;
  border-bottom: 1px solid #5264ae;
}

.floating-label {
  color: #999;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

.floating-input:focus ~ .floating-label,
.floating-input:not(:placeholder-shown) ~ .floating-label {
  top: -20px;
  font-size: 12px;
  color: #5264ae;
}

.modal.show .modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Estilos para la transición de aparición suave */
.modal.fade .modal-dialog {
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
  transform: translateY(-50px);
  opacity: 0;
}

.modal.fade.show .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-photo-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1rem;
}

.user-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-info {
  flex-grow: 1;
}

.text-danger {
  color: red !important;
}

.no-underline {
  text-decoration: none !important; /* Quitar el subrayado */
}

.custom-select {
  transition: all 0.3s ease; /* Transición suave */
  appearance: none; /* Quitar la apariencia por defecto */
  background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23333" d="M2 0L0 2h4z"/></svg>')
    no-repeat right 0.75rem center/8px 10px; /* Flecha personalizada */
  padding-right: 1.5rem; /* Espacio para la flecha */
}

.custom-select:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra al enfocar */
}

.custom-select option {
  background-color: #fff; /* Fondo blanco para las opciones */
  color: #333; /* Color del texto */
}

.modal-button {
  margin-left: 9.67rem; /* Añadir margen superior */
}

.progress-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.step-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 0.5rem;
}

.step-label {
  font-size: 0.875rem;
  color: #666;
  text-align: center;
}

.step.active .step-number {
  background-color: #5264ae;
}

.step.active .step-label {
  font-weight: bold;
  color: #000;
}

.btn-register-user {
  margin-bottom: -15px; /* Reducir el margen inferior para acercar los botones */
}
.forgot-password-link {
  color: #7b6983;
  text-align: right;
}

.section-title {
  font-weight: bold;
  font-size: 1rem; /* Ajustar el tamaño de fuente según sea necesario */
}

.subtitle {
  color: #6c757d; /* Gris suave */
  font-size: 0.875rem; /* Ajustar el tamaño de fuente según sea necesario */
}
