body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #f8f9fa;
}

.container {
  padding: 20px;
}

.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-group {
  margin-bottom: 1.5rem;
}

.alert {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.card {
  width: 12rem;
  margin: 0 0.5rem; /* Adjusted margin to bring cards closer */
  transition: transform 0.2s;
  text-align: center;
  background-color: #7b6983; /* Updated background color */
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  text-decoration: none; /* Remove underline */
  color: #e7e0f3; /* Lighter shade of #7B6983 */
}

.card-body:hover {
  color: #ffffff; /* Slightly darker shade for hover effect */
}

.back-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: #007bff;
}

.back-link:hover {
  text-decoration: underline;
}

.back-link svg {
  margin-right: 5px;
}

h1,
h2 {
  margin-bottom: 20px;
  text-align: center; /* Center the title */
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.list-group-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 0.9rem; /* Reduced font size */
}

.list-group-item img {
  margin-right: 15px;
}

.text-muted {
  color: #6c757d !important;
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Caveat", cursive;
  font-size: 2rem;
}

.navbar-nav {
  margin-left: auto;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px; /* Adjust this value to position it above the Home component */
}

.logo-image-home {
  width: 150px;
  height: 150px;
}

.logo-title-home {
  font-size: 3rem;
}

.btn-primary {
  background-color: #a18fbf; /* Lighter shade of #7B6983 */
  border-color: #a18fbf;
  color: white;
}

.btn-primary:hover {
  background-color: #8e7aa6; /* Slightly darker shade for hover effect */
  border-color: #8e7aa6;
}

.add-user-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px; /* Increased size */
  height: 60px; /* Increased size */
  border-radius: 50%;
  background-color: #7b6983; /* Updated color */
  color: white;
  font-size: 32px; /* Increased font size */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s; /* Added transition for hover effect */
}

.add-user-button:hover {
  transform: scale(1.1); /* Added hover effect */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
