@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");
.admin-flights-container {
  padding: 20px;
}

.flights-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.flights-subsection {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.flights-subsection h2 {
  margin-bottom: 20px;
}

.flights-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flight-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flight-details {
  flex: 1;
}

.validate-button {
  margin-left: 10px;
}

.admin-hamburger-menu {
  position: relative;
}

.hamburger-menu {
  position: relative;
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-icon div {
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: all 0.3s ease;
}

.menu-icon.open .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-icon.open .bar2 {
  opacity: 0;
}

.menu-icon.open .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu-content {
  position: absolute;
  top: 2rem;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 1000;
}

.menu-content.open {
  max-height: 200px;
}

.menu-content a {
  display: block;
  padding: 0.5rem 0;
  color: #333;
  text-decoration: none;
}

.menu-content a:hover {
  background-color: #f8f9fa;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.logout-button {
  display: block;
  width: auto;
  padding: 0.5rem 0;
  color: #ff0000;
  background-color: white;
  border: none;
  text-align: left;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #f8f9fa;
}

/* Estilo para mensajes de error */
.text-danger {
  color: #88232e !important;
}

/* Estilo para la lista de usuarios */
.user-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.user-list .user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.user-list .user-item .user-info {
  flex: 1;
}
.user-list .user-item .user-actions {
  display: flex;
  gap: 10px;
}
.user-list .user-item .user-actions .delete-button {
  background-color: #f8d7da;
  color: #88232e;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
.user-list .user-item .user-actions .delete-button:hover {
  background-color: rgb(240.4042553191, 171.5957446809, 177.8510638298);
}

/* Estilo para el botón de agregar usuario */
.add-user-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #7b6983;
  color: #ffffff;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  border: none;
}
.add-user-button:hover {
  transform: scale(1.1);
}

.admin-users-container {
  padding: 20px;
}

.admin-users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.admin-users-header h1 {
  font-size: 2rem;
  color: #5264ae;
}
.admin-users-header .add-user-button {
  background-color: #5264ae;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.admin-users-header .add-user-button:hover {
  background-color: rgb(65.374015748, 79.9015748031, 139.625984252);
}

.list-group-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 0.9rem; /* Reduced font size */
  border-radius: 10px; /* Redondear las esquinas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregar sombra */
  background-color: #ffffff; /* Fondo blanco */
  padding: 10px; /* Añadir padding */
  transition: transform 0.2s; /* Añadir transición para hover */
}
.list-group-item:hover {
  transform: scale(1.02); /* Efecto de hover */
}
.list-group-item img {
  margin-right: 15px;
  border-radius: 50%; /* Redondear la imagen */
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  position: relative;
  margin: auto;
}

.section-title {
  font-weight: bold;
  font-size: 1rem; /* Ajustar el tamaño de fuente según sea necesario */
}

.subtitle {
  color: #6c757d; /* Gris suave */
  font-size: 0.875rem; /* Ajustar el tamaño de fuente según sea necesario */
}

.user-profile,
.plane-profile {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-photo-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1rem;
}

.user-photo,
.plane-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.plane-info {
  flex-grow: 1;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 5px; /* Añade espacio entre la imagen y el texto */
}

.user-info {
  display: flex;
  flex-direction: column; /* Nombre arriba, rol abajo */
  justify-content: center;
}

.user-role {
  color: #6c757d; /* Gris Bootstrap */
  font-size: 0.875rem;
  margin-left: -20px; /* Añadir margen izquierdo */
}

.text-danger {
  color: #88232e !important;
}

.no-underline {
  text-decoration: none !important; /* Quitar el subrayado */
}

.modal-button {
  margin-left: 9.67rem; /* Añadir margen superior */
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.user-item .user-info {
  flex: 1;
}
.user-item .user-actions {
  display: flex;
  gap: 10px;
}
.user-item .user-actions .delete-button {
  background-color: #f8d7da;
  color: #88232e;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
.user-item .user-actions .delete-button:hover {
  background-color: rgb(240.4042553191, 171.5957446809, 177.8510638298);
}
.user-item .user-photo-container {
  margin-right: 15px;
}
.user-item .user-photo-container .user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.plane-item {
  cursor: pointer;
  transition: transform 0.1s ease-in-out; /* Ajustar la duración y el tipo de transición */
}
.plane-item:hover {
  transform: scale(1.01); /* Reducir el efecto de escala */
}
.plane-item .plane-registration {
  font-weight: bold;
  font-size: 1.2rem;
  color: #5264ae;
}
.plane-item .plane-details {
  color: #6c757d; /* Gris suave */
  font-size: 0.875rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.mt-3 {
  margin-top: 1rem;
}

.d-block {
  display: block;
}

.w-100 {
  width: 100%;
}

body {
  margin: 0;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #94a9b5;
}

.container {
  padding: 20px;
}

h1,
h2 {
  margin-bottom: 20px;
  text-align: center; /* Center the title */
}

.btn-primary {
  background-color: #a18fbf; /* Lighter shade of #7B6983 */
  border-color: #a18fbf;
  color: white;
}

.btn-primary:hover {
  background-color: #8e7aa6; /* Slightly darker shade for hover effect */
  border-color: #8e7aa6;
}

.btn-secondary {
  background-color: white;
  border-color: white;
  color: #7b6983;
}

.btn-secondary:hover {
  color: rgba(123, 105, 131, 0.631372549);
  background-color: white;
  border-color: white;
}

.form-select {
  background-color: #ffffff; /* Fondo gris claro */
  border-radius: 5px; /* Bordes redondeados */
  padding: 0.5rem 1rem; /* Espaciado interno */
}

.form-select:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra azul al enfocar */
}

.hamburger-menu {
  position: relative;
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.menu-content {
  position: absolute;
  top: 2rem;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  z-index: 1000;
}

.menu-content a {
  display: block;
  padding: 0.5rem 0;
  color: #333;
  text-decoration: none;
}

.menu-content a:hover {
  background-color: #f8f9fa;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.logout-button {
  display: block;
  width: auto;
  padding: 0.5rem 0;
  color: rgb(255, 0, 0);
  background-color: rgb(255, 255, 255);
  border: none;
  text-align: left;
  cursor: pointer;
}

.logout-button:hover {
  background-color: darkred;
}

.login-page {
  background-color: #94a9b5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page .login-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  position: relative;
  margin-bottom: 2rem;
}
.login-page .login-container .login-logo {
  width: 100px;
  height: auto;
  margin-bottom: 0.2rem;
}
.login-page .login-container .login-title {
  font-family: "Caveat", cursive;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.login-page .login-container .forgot-password-link {
  color: #7b6983;
  text-align: left;
  display: block;
  margin-top: -1rem;
  font-size: 0.8rem;
}
.login-page .login-container .register-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.login-page .login-container .register-buttons-container .new-user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.login-page .login-container .register-buttons-container .new-user-container p {
  margin-bottom: 0;
}
.login-page .login-container .register-buttons-container .new-user-container p .new-user-text {
  font-size: 1rem;
  font-weight: 600;
  color: #615768;
}
.login-page .login-container .register-buttons-container .new-user-container .btn-register-user {
  padding-left: 6px;
}
.login-page .login-container .password-input-container {
  position: relative;
}
.login-page .login-container .password-input-container .password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #757575;
}

.floating-label-group,
.register-user-modal .form-group,
.register-school-modal .form-group {
  position: relative;
  margin-bottom: 1.5rem;
}
.floating-label-group .floating-input,
.register-user-modal .form-group .floating-input,
.register-school-modal .form-group .floating-input {
  width: 100%;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #757575;
  background: transparent;
  font-size: 14px; /* Reducir el tamaño de la letra */
  border-radius: 0;
  box-shadow: none;
  appearance: none;
}
.floating-label-group .floating-input:focus,
.register-user-modal .form-group .floating-input:focus,
.register-school-modal .form-group .floating-input:focus {
  outline: none !important;
  border-bottom: 1px solid #5264ae;
}
.floating-label-group .floating-input:focus ~ .floating-label, .floating-label-group .floating-input:not(:placeholder-shown) ~ .floating-label,
.register-user-modal .form-group .floating-input:focus ~ .floating-label,
.register-user-modal .form-group .floating-input:not(:placeholder-shown) ~ .floating-label,
.register-school-modal .form-group .floating-input:focus ~ .floating-label,
.register-school-modal .form-group .floating-input:not(:placeholder-shown) ~ .floating-label {
  top: -20px;
  font-size: 12px;
  color: #5264ae;
}
.floating-label-group .floating-label,
.register-user-modal .form-group .floating-label,
.register-school-modal .form-group .floating-label {
  color: #757575;
  font-size: 14px; /* Reducir el tamaño de la letra */
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}

.register-user-modal .modal-body,
.register-school-modal .modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  margin-top: 10px;
}
.register-user-modal .password-input-container,
.register-school-modal .password-input-container {
  position: relative;
}
.register-user-modal .password-input-container .password-toggle-icon,
.register-school-modal .password-input-container .password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #757575; /* Asegurar que el color sea gris */
}
.register-user-modal .validation-requirements,
.register-school-modal .validation-requirements {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #757575;
}
.register-user-modal .validation-requirements div,
.register-school-modal .validation-requirements div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.register-user-modal .validation-requirements div .text-success,
.register-school-modal .validation-requirements div .text-success {
  color: green;
}
.register-user-modal .validation-requirements div .text-danger,
.register-school-modal .validation-requirements div .text-danger {
  color: red;
}
.register-user-modal .validation-requirements div span,
.register-school-modal .validation-requirements div span {
  margin-left: 5px;
}

.progress-steps {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem; /* Aumentar el margen inferior */
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.step-number {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 0.5rem;
}

.step-label {
  font-size: 0.875rem;
  color: #666;
  text-align: center;
}

.step.active .step-number {
  background-color: #5264ae;
}

.step.active .step-label {
  font-weight: bold;
  color: #000;
}

.alert {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}
.alert-error {
  background-color: #f8d7da;
  color: #88232e;
  border: 1px solid #f5c6cb;
}
.alert-warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}

.plane-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrar las tarjetas */
  gap: 1rem; /* Espacio entre tarjetas */
}

.plane-item {
  cursor: pointer;
  width: 100%; /* Ocupa toda la pantalla */
  max-width: 600px; /* Ancho máximo para evitar que se estire demasiado */
  margin-bottom: 1rem; /* Espacio entre tarjetas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregar sombra */
  border: none; /* Quitar borde */
}

.plane-item:hover {
  transform: scale(1.02);
}

.plane-registration {
  font-weight: normal; /* Font más tranquilo */
  text-align: left; /* Alineado a la izquierda */
  font-size: 1.25rem; /* Tamaño de fuente */
  color: black;
}

.plane-details {
  color: rgba(0, 0, 0, 0.6588235294); /* Gris suave */
  font-weight: lighter; /* Grosor de font más suave */
  text-align: left; /* Alineado a la izquierda */
  font-size: 0.85rem; /* Tamaño de fuente más pequeño */
}

.section-title {
  font-weight: bold;
  font-size: 1rem; /* Ajustar el tamaño de fuente según sea necesario */
}

.subtitle {
  color: #6c757d; /* Gris suave */
  font-size: 0.875rem; /* Ajustar el tamaño de fuente según sea necesario */
}

.dashboard-container {
  padding: 20px;
}

.dashboard-content {
  margin-top: 20px;
}

.kpis {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.kpi {
  flex: 1;
  margin-right: 10px;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.kpi:last-child {
  margin-right: 0;
}

.progress {
  height: 1rem;
  background-color: #e9ecef;
  border-radius: 5px;
}

.progress-bar {
  background-color: #007bff;
}

.school-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.school-card {
  flex: 1 1 calc(33.333% - 1rem);
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left; /* Alinear el texto a la izquierda */
  transition: transform 0.2s;
  text-decoration: none; /* Quitar subrayado */
  color: #333; /* Color del texto */
  font-size: 1.25rem; /* Tamaño de fuente */
  font-weight: bold; /* Grosor de fuente */
}

.school-card:hover {
  transform: scale(1.05);
  text-decoration: underline; /* Subrayado al pasar el ratón */
}

.flights-container {
  padding: 1rem;
}

.flights-content {
  margin-top: 2rem;
}

.profile-container {
  padding: 1rem;
}

.profile-content {
  margin-top: 2rem;
}

.school-container {
  padding: 1rem;
}

.school-content {
  margin-top: 2rem;
  text-align: center;
}

.school-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.add-flight-button:hover {
  background-color: #0056b3;
}

.add-user-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(123, 105, 131);
  color: white;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.224);
  transition: transform 0.2s;
  border: none;
}

.add-user-button:hover {
  transform: scale(1.1);
}

.list-group-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 0.9rem; /* Reduced font size */
  border-radius: 10px; /* Redondear las esquinas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agregar sombra */
  background-color: #ffffff; /* Fondo blanco */
  padding: 10px; /* Añadir padding */
  transition: transform 0.2s; /* Añadir transición para hover */
}

.list-group-item:hover {
  transform: scale(1.02); /* Efecto de hover */
}

.list-group-item img {
  margin-right: 15px;
  border-radius: 50%; /* Redondear la imagen */
}

.upload-zone {
  border: 2px dashed #007bff;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.upload-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.upload-placeholder span {
  font-size: 2rem;
  color: #007bff;
}

.upload-placeholder p {
  margin-top: 10px;
  color: #6c757d;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #7b6983;
  color: #ffffff;
  padding: 15px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.navbar .navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.navbar .navbar-content .navbar-title-container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.navbar .navbar-content .navbar-title {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
.navbar .navbar-content .menu-icon-container {
  display: flex;
  justify-content: flex-end;
}
.navbar .navbar-content .menu-icon {
  font-size: 1.6rem;
  cursor: pointer;
  color: #ffffff;
}
.navbar .menu-content {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #5264ae;
  color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: left 0.3s ease-in-out;
}
.navbar .menu-content.open {
  left: 0;
}
.navbar .menu-content .user-info {
  margin-bottom: 20px;
  font-size: 1rem;
}
.navbar .menu-content a {
  text-decoration: none;
  color: #ffffff;
  margin: 10px 0;
  font-size: 1rem;
}
.navbar .menu-content a:hover {
  text-decoration: underline;
}
.navbar .menu-content .logout-button {
  background-color: transparent;
  border: none;
  color: #88232e;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}
.navbar .menu-content .logout-button:hover {
  text-decoration: underline;
}

.content {
  margin-top: 80px;
  padding: 20px;
}

/*# sourceMappingURL=styles.css.map */
