@use "../Variables/variables";
@use "../Mixins/mixins";

.flights-container {
  padding: 1rem;
}

.flights-content {
  margin-top: 2rem;
}

/* Estilos para el modal de agregar vuelo */
.add-flight-modal {
  .modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    margin-top: 10px;
  }

  .floating-input {
    width: 100%;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    background: transparent;
    font-size: 14px;
    border-radius: 0;
    box-shadow: none;
    appearance: none;

    &:focus {
      outline: none !important;
      border-bottom: 1px solid variables.$primary-color;
    }

    &:focus ~ .floating-label,
    &:not(:placeholder-shown) ~ .floating-label {
      top: -20px;
      font-size: 12px;
      color: variables.$primary-color;
    }
  }

  .floating-label {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
  }

  .form-group {
    position: relative;
    margin-bottom: 1.5rem;
  }

  .button-container {
    display: flex;
    justify-content: space-between; /* Coloca los botones en extremos opuestos */
    align-items: center; /* Alinea los botones verticalmente */
    margin-top: 20px; /* Separación del resto del formulario */
    padding: 0 15px; /* Espaciado interno opcional */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  }

  .reset-button,
  .add-button {
    width: 45%; /* Ambos botones ocuparán el 45% del ancho del contenedor */
    padding: 10px 0; /* Tamaño consistente para los botones */
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
  }

  .reset-button {
    background-color: #f8f9fa; /* Color de fondo para el botón Reset */
    color: #6c757d; /* Color del texto */
    border: 1px solid #ced4da; /* Borde para el botón Reset */
  }

  .add-button {
    background-color: secondary-color; /* Color de fondo para el botón Agregar */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
  }
}
