$background-color: #94a9b5;
$white-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.1);
$primary-color: #5264ae;
$secondary-color: #7b6983;
$success-bg-color: #d4edda;
$success-text-color: #155724;
$success-border-color: #c3e6cb;
$error-bg-color: #f8d7da;
$error-text-color: #88232e;
$error-border-color: #f5c6cb;
$warning-bg-color: #fff3cd;
$warning-text-color: #856404;
$warning-border-color: #ffeeba;
$font-family-caveat: "Caveat", cursive;
