@use "../Variables/variables";

.custom-select {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  width: 100%;

  &__selected {
    font-size: 14px;
    color: #333;
    position: relative;
    transition: 0.2s ease all;

    &.has-value {
      top: -20px;
      font-size: 12px;
      color: #757575;
    }
  }

  &__dropdown {
    position: fixed; // Cambia a fixed para que no dependa del contenedor
    top: auto; // Se calculará dinámicamente
    left: auto; // Se calculará dinámicamente
    right: auto; // Se calculará dinámicamente
    max-height: 200px; // Altura máxima del dropdown
    overflow-y: auto; // Permite scroll si hay más opciones
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1050; // Asegúrate de que esté por encima del modal
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 5px;
  }

  &__search {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    cursor: pointer;
  }

  &__options {
    max-height: 150px;
    overflow-y: auto;
  }

  &__option {
    padding: 10px;
    font-size: 14px;
    color: #333;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.custom-select-wrapper {
  position: relative;
  margin-bottom: 1.5rem;

  .custom-select__search {
    width: 100%;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    background: transparent;
    font-size: 14px;
    border-radius: 0;
    box-shadow: none;
    appearance: none;

    &:focus {
      outline: none !important;
      border-bottom: 1px solid variables.$primary-color;
    }

    &:focus ~ .floating-label,
    &:not(:placeholder-shown) ~ .floating-label {
      top: -20px;
      font-size: 12px;
      color: variables.$primary-color;
    }
  }

  .floating-label {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
  }

  .custom-select__dropdown {
    position: fixed; // Cambia a fixed para que no dependa del contenedor
    top: auto; // Se calculará dinámicamente
    left: auto; // Se calculará dinámicamente
    right: auto; // Se calculará dinámicamente
    max-height: 200px; // Altura máxima del dropdown
    overflow-y: auto; // Permite scroll si hay más opciones
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1050; // Asegúrate de que esté por encima del modal
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 5px;
  }

  .custom-select__option {
    padding: 10px;
    font-size: 14px;
    color: #333;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}
