@use "../Variables/variables";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

html,
body {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: variables.$white-color; // restauramos el fondo original
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
  padding: 20px;
  background-color: variables.$background-color;
}

h1,
h2 {
  margin-bottom: 20px;
  text-align: center; /* Center the title */
}

// *** Styles from bootstrap ***

.btn-primary {
  background-color: #a18fbf; /* Lighter shade of #7B6983 */
  border-color: #a18fbf;
  color: variables.$btn-text-color;
}

.btn-primary:hover {
  background-color: variables.$btn-background; /* Slightly darker shade for hover effect */
  border-color: variables.$btn-background;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus:active {
  background-color: variables.$btn-background !important;
  color: variables.$white-color !important;
  box-shadow: none !important;
  outline: none !important;
  border-color: variables.$btn-background !important;
}

.btn-secondary {
  background-color: white;
  border-color: white;
  color: variables.$tertiary-color; /* Use the tertiary color for text */
}

.btn-secondary:hover {
  color: variables.$tertiary-color-hover;
  background-color: white;
  border-color: white;
}

.form-select {
  background-color: #ffffff; /* Fondo gris claro */
  border-radius: 5px; /* Bordes redondeados */
  padding: 0.5rem 1rem; /* Espaciado interno */
}

.form-select:focus {
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra azul al enfocar */
}

.text-danger {
  color: variables.$error-text-color !important;
}

.custom-flight-modal-width .modal-content {
  max-width: 540px; // O el ancho que prefieras
  width: 95%;
}

.modal-backdrop.show {
  background-color: #000;
  opacity: 0.5;
}
